doctype html
html
  head
    meta(charset='utf-8')
    block val
    title #{title}
    - if(keyword)
     meta(name="keywords" content=keyword)
    -if(description)
     meta(name="description" content=description)
    - if (stylesheet)
      each val in stylesheet
        link(type="text/css",rel="stylesheet",href=val+'?v='+timeStamp)
    body
      block content
      - if (jsfile)
        each val in jsfile
          script(src=val+'?v='+timeStamp)
      block script